section{
    width: calc(80% - 30rem);
}
#children-path{
    background: linear-gradient(120deg, rgba(240, 232, 232, 0.4) 10%, rgb(109, 109, 109) 95%);
    width: 30rem;
}

#poke-img{
    max-width: 80%;
    min-width: 50%;
    max-height: 90%;
}

@media screen and (max-width: 800px){
    #children-path{
        width: 100%;
    }
    #poke-img{
        max-height: 300px;
    }
    section{
        width: 80%;
        margin-bottom: 10px;
    }
}